{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}new list{% endblock %}
{% block content %}
    <form method="POST" name="rawText">
        {% csrf_token %}
        {% if word_list %}
            {{form.text.as_hidden}}
            <div class="container">
                {% for word in word_list %}
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="wordCheck" name="choices" value="{{word}}">
                        <label class="form-check-label" for="wordCheck">{{word}}</label>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary" name="listSubmit">Znajdź tłumaczenia</button>
            </div>
        {% else %}
            <div class="container">
                <div class="mb-3">
                    <label class="form-label">Paste your text/word list here. Max 500 characters.</label>
                    {{ form.text|append_attr:"class=form-control" }}
                </div>
                <button type="submit" class="btn btn-primary" name="rawTextSubmit">Prześlij</button>
            </div>
        {% endif %}
    </form>
{% endblock %}
